{% extends "basic_generic.html" %}
{% load static %}
<html>
    <head>
        {% block title %}<title>Club Calender</title>{% endblock %}
        {% block style %}<link rel="stylesheet" href="{% static 'css/calender.css' %}"> {% endblock %}
    </head>
    <body>
    {% block content %}
    <h1>Reservation List</h1>

    {% if reservations %}
    <ul>

      {% for reservation in reservations %}
      <li>
        {{reservation}}
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <h1>There are no reservations available.</h1>
    {% endif %}       
    {% endblock %}
    </body>
</html>
