{% extends "basic_generic.html" %}
{% load static %}
<html>
    <head>
        {% block title %}<title>Facility Reservation</title>{% endblock %}
        {% block style %}<link rel="stylesheet" href="{% static 'css/facility.css' %}"> {% endblock %}
    </head>
    <body>
        {% block content %}
        <h1 style="text-align: center; font-size:40 ; font-family: 'Trebuchet MS', sans-serif;">Reserve A Court</h1> 
        <div class="tennis">
                <img src="{% static 'images/tennis.JPG' %}"  width=22%; height=25% style = "position:relative; left:300px; top:250px;"/>
                <button type="button" onclick="window.location.href='/CC/tennis_reservation';" size="50" style = "position:relative; color:rgb(34, 34, 169); font-size:30; left:30px; top:-10px;">
                    Tennis Court</button><br>
        </div>

        <div class="golf">
                    
            <img src="{% static 'images/golf.JPG' %}" width=22%; height=25% style = "position:relative; left:1000px; top:30px;"/>
            <button type="button"  onclick="window.location.href='/CC/golf_reservation';"size="50" style = "position:relative; color:rgb(34, 34, 169); font-size:30; left:750px; top:-230px;">
            Golf Court</button><br>
        </div>

                   
        {% endblock %}
    </body>
</html>