{% extends "basic_generic.html" %}
{% load static %}
<html>
    <head>
        {% block title %}<title>Membership Registration</title>{% endblock %}
        {% block style %}<link rel="stylesheet" href="{% static 'css/registration.css' %}"> {% endblock %}
    </head>
    <body>
        {% block content %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% endblock %}
    </body>
</html>