{% extends "basic_generic.html" %}
{% load static %}
<html>
    <head>
        {% block title %}<title>Member Information</title>{% endblock %}
        {% block style %}<link rel="stylesheet" href="{% static 'css/member.css' %}"> {% endblock %}
    </head>
    <body>
        {% block content %}
        <h1 style="text-align: center;">Member Information</h1> 
        {% if member_found %}
        <h3>First name: {{fname}}</h3>
        <h3>Last name: {{lname}}</h3>
        <h3>Date of birth: {{Date_of_birth}}</h3>
        <h3>Membership Type: {{membership}}</h3>
        <h3>Membership deadline: {{deadline}} </h3>
        <br><br>
        <h3>To update your information <a href='/CC/MemberUpdate'>Click here </a></h3>
        <h3>To delete your membership <a href='/CC/MemberDelete'>Click here</a></h3>

        {% else %}
        <br><br>
        <h2 style="text-align: center; color:red;" >This user is not a registered member yet!</h2>
        <h2 style="text-align: center;">For registration <a href="/CC/register">click here</a></h2>  
        {% endif %}
        {% endblock %}
    </body>
</html>