<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/registration.css">
        <script src="https://kit.fontawesome.com/d45f33e614.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Header Menu of the Page -->
        <header>
                <!-- Logo -->
                <div class="logo">
                    <img src="images/logo.JPG" />
                </div>   
                <div id="user">
                    <i class='fas fa-portrait' style='font-size:700%;color:#112D4E'></i>
                    <h3 color="#112D4E">Username</h3>
                </div>  
        </header>
        <!-- Main content between Header and Footer -->
        <main style="background-image: url(images/wallpaper.JPG);">
            <!-- Section 1 of Main content -->
            <section class="main">
                
            </section>
 
        </main>
        <!-- Footer Menu -->
        <footer>
            
            <div id="links">
                <h3><a href="Home.html">Home</a></h3>
                <h3><a href="Membership_registration.html">Member Registration</a></h3>
                <h3><a href="Member_information.html">Member Information</a></h3>
                <h3><a href="Club_calender.html">Club Calender</a></h3>
                <h3><a href="Facility_reservation.html">Reserve Facility</a></h3>
                <h3><a href="News.html">Club News</a></h3>
                <h3><a href="Complaint.html">Submit A Complaint</a></h3>
            </div>
            <div id="contact">
                <h2>Contact us</h2>
                <div style="overflow: hidden;">
                    <a href="https://www.facebook.com/"> <i class="fa fa-facebook-square" style="font-size:36px"></i></a>
                    <a href="https://www.twitter.com/"><i class="fa fa-twitter" style="font-size:36px"></i></a>
                    <a href="https://www.instagram.com/"> <i class="fa fa-instagram" style="font-size:36px"></i></a>
                </div>
                

            </div>
        </footer>
    </body>
</html>
