{% extends "basic_generic.html" %}
{% load static %}
<html>
    <head>
        {% block title %}<title>Tennis reservation</title>{% endblock %}
        {% block style %}<link rel="stylesheet" href="{% static 'css/news.css' %}"> {% endblock %}
    </head>
    <body>
        {% block content %}
        <main style="background-image: url(images/tennis_background.JPG);">
            <!-- Section 1 of Main content -->
            <section class="main">
                <h1 style="text-align: center;font-family: 'Trebuchet MS', sans-serif; color:white; font-size:40px;">Tennis Courts</h1> 
                    <style>
                        table, th, td {
                          border:1px solid black;
                        }
                        </style>
                        <body>
                        
                       
                        <table style="position:relative; left:300px; top:150px; width:30%">
                          <tr>
                            <td style="height:100px ;color:white; font-size:20px;"><button type="button" onclick="window.location.href='images/tennis_court1.JPG'"></button>Tennis Court 1</td>
                            <td style= "color:white;font-size:20px;">Available</td>
                            
                          </tr>
                          <tr>
                            <td style="height:100px;color:black;font-size:20px;"><button type="button" onclick="window.location.href='images/tennis_court2.JPG'"></button>Tennis Court 2</td>
                            <td style= "color:white;font-size:20px;">Not available</td>
                    
                          </tr>
                          <tr style="height:20%">
                            <td style="height:100px;color:black;font-size:20px;"><button type="button" onclick="window.location.href='images/tennis_court3.JPG'"></button>Tennis Court 3</td>
                            <td style= "color:white;font-size:20px;">Not Available</td>
                           
                          </tr>
                        </table>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Submit</button>
                        </form>
        {% endblock %}
    </body>
</html>

