#links{
    font-weight: bold;
}
#contact{
    
    margin-left: 70%;
  
}
.newseason {
        width:500px;
        padding-left: 100px;
        padding-top: 200px;
}
.newseason1 {
    width:300px;
    padding-left: 100px;

    
}
.newseason2 {
    width:300px;
    padding-left:100px;

}
.newseason3 {
    width:300px;
    padding-left: 100px;
    padding-top: 150px;
}
.newseason4 {
    width:300px;
    padding-left: 190px;

}
.newseason5 {
    width:300px;
    padding-left: 210px;

}

