html, body{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 12pt;
}

header{
    overflow: hidden;
    background-color: #2CF869;
    padding: 20px 10px;
    height:fit-content;
}
footer{
    overflow: hidden;
    background-color: #2CF869;
    height: fit-content;
    padding: 20px 30px;
    display: flex;
    
}

main{
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
    height:900px;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
    color: #404040;
}
     
p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul{
    padding: 20px 20px;
    list-style: none;
}

li{
    color:#112D4E;
    text-decoration: underline;
    padding-bottom: 5px;
    font-weight: bold;
}
     
.container{   
    /* Set width of container to
        1200px and align center */
    margin: 0px auto;
    width: 1200px;
}



.logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}
 
.logo img{
    width: 60%;
    float: left;
    padding-top: 10px;
}  
#user{
    margin-left:90%;
}
#links{
    font-weight: bold;
}
#contact{
    
    margin-left: 70%;
  
}